node_modules
dist
dist-ssr
.output
.git
.gitignore
.tanstack
*.md
.env
.env.*
!docker/dotenv-for-build
coverage
.nitro
.vinxi
.wrangler
playwright-report
test-results
**/*.test.ts
**/*.spec.ts
eslint.config.js
.prettierrc
playwright.config.ts
